# **Ejercicios de la evaluación del Módulo 2 Sprint 2**

### **Lidya Descals**

---

In [2]:
import pandas as pd
import numpy as np
import sidetable 
import requests
from datetime import datetime, timedelta
import mysql.connector
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all" 
from geopy.geocoders import Nominatim

In [3]:
url_argentina = "http://universities.hipolabs.com/search?country=Argentina"
response_argentina = requests.get(url = url_argentina)
print(f"La solicitud ha tenido una respuesta con código {response_argentina.status_code}, y nos devuelve el mensaje {response_argentina.reason}")
df_argentina = pd.DataFrame(response_argentina.json())

La solicitud ha tenido una respuesta con código 200, y nos devuelve el mensaje OK

In [4]:
url_canada = "http://universities.hipolabs.com/search?country=Canada"
response_canada = requests.get(url = url_canada)
print(f"La solicitud ha tenido una respuesta con código {response_canada.status_code}, y nos devuelve el mensaje {response_canada.reason}")
df_canada = pd.DataFrame(response_canada.json())

La solicitud ha tenido una respuesta con código 200, y nos devuelve el mensaje OK

In [5]:
url_eeuu = "http://universities.hipolabs.com/search?country=United States"
response_eeuu = requests.get(url = url_eeuu)
print(f"La solicitud ha tenido una respuesta con código {response_eeuu.status_code}, y nos devuelve el mensaje {response_eeuu.reason}")
df_eeuu = pd.DataFrame(response_eeuu.json())

La solicitud ha tenido una respuesta con código 200, y nos devuelve el mensaje OK

In [6]:
df_argentina.head(5)

,state-province,domains,name,country,web_pages,alpha_two_code
0,Buenos Aires,[atlantida.edu.ar],Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR
1,Buenos Aires,[austral.edu.ar],Universidad Austral Buenos Aires,Argentina,[http://www.austral.edu.ar/],AR
2,Ciudad Autónoma de Buenos Aires,[caece.edu.ar],"Universidad CAECE, Buenos Aires",Argentina,[http://www.caece.edu.ar/],AR
3,Ciudad Autónoma de Buenos Aires,[cema.edu.ar],Instituto Universitario CEMA,Argentina,[http://www.cema.edu.ar/],AR
4,Ciudad Autónoma de Buenos Aires,[iese.edu.ar],Instituto de Enseñanza Superior del Ejército,Argentina,[http://www.iese.edu.ar/],AR

In [7]:
df_canada.head(5)

,state-province,domains,name,country,web_pages,alpha_two_code
0,Quebec,[cstj.qc.ca],Cégep de Saint-Jérôme,Canada,"[https://www.cstj.qc.ca, https://ccmt.cstj.qc....",CA
1,Ontario,"[lambtoncollege.ca, mylambton.ca]",Lambton College,Canada,[https://www.lambtoncollege.ca],CA
2,Nova Scotia,[acadiau.ca],Acadia University,Canada,[http://www.acadiau.ca/],CA
3,Ontario,[algonquincollege.com],Algonquin College,Canada,[http://www.algonquincollege.com/],CA
4,British Columbia,[ashtoncollege.com],Ashton College,Canada,[http://www.ashtoncollege.com/],CA

In [8]:
df_eeuu.head(5)

,state-province,domains,name,country,web_pages,alpha_two_code
0,None,[marywood.edu],Marywood University,United States,[http://www.marywood.edu],US
1,None,[lindenwood.edu],Lindenwood University,United States,[http://www.lindenwood.edu/],US
2,None,[sullivan.edu],Sullivan University,United States,[https://sullivan.edu/],US
3,None,[fscj.edu],Florida State College at Jacksonville,United States,[https://www.fscj.edu/],US
4,None,[xavier.edu],Xavier University,United States,[https://www.xavier.edu/],US

In [9]:
df_argentina.rename(columns = {col:col.replace("-", "_") for col in df_argentina.columns}, inplace = True)
df_canada.rename(columns = {col:col.replace("-", "_") for col in df_canada.columns}, inplace = True)
df_eeuu.rename(columns = {col:col.replace("-", "_") for col in df_eeuu.columns}, inplace = True)

In [10]:
df_argentina.drop(["domains"], axis = 1, inplace = True)
df_canada.drop(["domains"], axis = 1, inplace = True)
df_eeuu.drop(["domains"], axis = 1, inplace = True)

In [11]:
df_argentina = df_argentina.explode("web_pages")
df_canada = df_canada.explode("web_pages")
df_eeuu = df_eeuu.explode("web_pages")

In [12]:
print(f"El df_argentina tiene {df_argentina.duplicated(['name']).sum()} duplicados")
print(f"El df_canada tiene {df_canada.duplicated(['name']).sum()} duplicados")
print(f"El df_eeuu tiene {df_eeuu.duplicated(['name']).sum()} duplicados")

El df_argentina tiene 0 duplicados
El df_canada tiene 4 duplicados
El df_eeuu tiene 20 duplicados

In [13]:
df_canada.drop_duplicates(["name"], inplace = True)
df_eeuu.drop_duplicates(["name"], inplace = True)

In [14]:
print(f"El df_argentina tiene {df_argentina.duplicated(['name']).sum()} duplicados")
print(f"El df_canada tiene {df_canada.duplicated(['name']).sum()} duplicados")
print(f"El df_eeuu tiene {df_eeuu.duplicated(['name']).sum()} duplicados")

El df_argentina tiene 0 duplicados
El df_canada tiene 0 duplicados
El df_eeuu tiene 0 duplicados

In [15]:
df_argentina.fillna(value= np.nan, inplace=True)
df_canada.fillna(value= np.nan, inplace=True)
df_eeuu.fillna(value= np.nan, inplace=True)

In [16]:
print(f"El dataframe df_argentina tiene un total de {df_argentina['state_province'].isnull().sum()} nulos en la columna 'state_province'.")
print(f"El dataframe df_canada tiene un total de {df_canada['state_province'].isnull().sum()} nulos en la columna 'state_province'.")
print(f"El dataframe df_eeuu tiene un total de {df_eeuu['state_province'].isnull().sum()} nulos en la columna 'state_province'.")

El dataframe df_argentina tiene un total de 22 nulos en la columna 'state_province'.
El dataframe df_canada tiene un total de 8 nulos en la columna 'state_province'.
El dataframe df_eeuu tiene un total de 2208 nulos en la columna 'state_province'.

In [17]:
df_argentina.fillna(value= "Unknown", inplace=True)
df_canada.fillna(value= "Unknown", inplace=True)
df_eeuu.fillna(value= "Unknown", inplace=True)

In [18]:
print(f"Después de la limpieza, el dataframe df_argentina tiene un total de {df_argentina['state_province'].isnull().sum()} nulos en la columna 'state_province'.")
print(f"Después de la limpieza, el dataframe df_canada tiene un total de {df_canada['state_province'].isnull().sum()} nulos en la columna 'state_province'.")
print(f"Después de la limpieza, el dataframe df_eeuu tiene un total de {df_eeuu['state_province'].isnull().sum()} nulos en la columna 'state_province'.")

Después de la limpieza, el dataframe df_argentina tiene un total de 0 nulos en la columna 'state_province'.
Después de la limpieza, el dataframe df_canada tiene un total de 0 nulos en la columna 'state_province'.
Después de la limpieza, el dataframe df_eeuu tiene un total de 0 nulos en la columna 'state_province'.

In [19]:
df_eeuu["state_province"].replace("NV", "Nevada", inplace = True)
df_eeuu["state_province"].replace("TX", "Texas", inplace = True)
df_eeuu["state_province"].replace("IN", "Indianapolis", inplace = True)
df_eeuu["state_province"].replace("CA", "California", inplace = True)
df_eeuu["state_province"].replace("VA", "Virginia", inplace = True)
df_eeuu["state_province"].replace("NY", "New York", inplace = True)
df_eeuu["state_province"].replace("MI", "Michigan", inplace = True)
df_eeuu["state_province"].replace("GA", "Georgia", inplace = True)
df_eeuu["state_province"].replace("ND", "North Dakota", inplace = True)
df_eeuu["state_province"].replace("New York, NY", "New York", inplace = True)
df_argentina["state_province"].replace("Ciudad Autónoma de Buenos Aires", "Buenos Aires", inplace = True)

In [20]:
provincias_argentina = df_argentina["state_province"].unique()
provincias_canada = df_canada["state_province"].unique()
provincias_eeuu = df_eeuu["state_province"].unique()

In [21]:
print(f"En el df_argentina, los valores únicos para la columna de {['state_province']} son: \n {provincias_argentina} \n ----------")
print(f"En el df_canada, los valores únicos para la columna de {['state_province']} son: \n {provincias_canada} \n ----------")
print(f"En el df_eeuu, los valores únicos para la columna de {['state_province']} son: \n {provincias_eeuu} \n ----------")

En el df_argentina, los valores únicos para la columna de ['state_province'] son:
 ['Buenos Aires' 'Entre Ríos' 'Salta' 'Córdoba' 'Mendoza' 'Santa Fé'
 'Unknown' 'Santiago Del Estero' 'Misiones' 'Catamarca' 'Formosa' 'Jujuy'
 'La Rioja' 'La Pampa' 'San Juan' 'San Luis' 'Tucumán']
 ----------
En el df_canada, los valores únicos para la columna de ['state_province'] son:
 ['Quebec' 'Ontario' 'Nova Scotia' 'British Columbia' 'Alberta' 'Manitoba'
 'New Brunswick' 'Saskatchewan' 'Unknown' 'Newfoundland and Labrador'
 'Prince Edward Island' 'Yukon']
 ----------
En el df_eeuu, los valores únicos para la columna de ['state_province'] son:
 ['Unknown' 'Pennsylvania' 'Nevada' 'Iowa' 'Virginia' 'Texas' 'Colorado'
 'Indianapolis' 'California' 'South Carolina' 'Washington' 'New York'
 'North Dakota' 'Michigan' 'Ohio' 'Florida' 'North Carolina' 'Georgia']
 ----------

In [23]:
geolocator = Nominatim(user_agent="Lidya")
location = geolocator.geocode("Buenos Aires")
latitud = location.latitude
longitud = location.longitude
print(f"La latitud de Buenos Aires es {location.latitude}, y su longitud es {location.longitude}.")

La latitud de Buenos Aires es -34.6075682, y su longitud es -58.4370894.

In [28]:
provincias = list(provincias_argentina) + list(provincias_canada) + list(provincias_eeuu)

In [30]:
provincias = list(provincias_argentina) + list(provincias_canada) + list(provincias_eeuu)
latitudes = []
longitudes = []
for elem in provincias:

    geolocator = Nominatim(user_agent="Lidya")
    location = geolocator.geocode(elem)
    latitudes.append(location.latitude)
    longitudes.append(location.longitude)
    

dicc_latlon = {"provincia": provincias, "latitud" : latitudes, "longitud": longitudes}
df_latitud_longitud = pd.DataFrame(dicc_latlon)
df_latitud_longitud.head()

      provincia    latitud   longitud
0  Buenos Aires -34.607568 -58.437089
1    Entre Ríos -31.625284 -59.353958
2         Salta -25.107670 -64.349496
3       Córdoba  37.884581  -4.776014
4       Mendoza -34.787093 -68.438187